{
    "env": {
        "browser": true,
        "jquery": true,
        "es6": true
    },
    "ecmaFeatures": {
        "modules": true,
    },
    "rules": {
        "semi": [2, "always"],
        "space-before-function-paren": [2, "never"],
        "no-empty": [0],
        "no-mixed-spaces-and-tabs": [2],
        "no-trailing-spaces": [1],
        "space-infix-ops": [1],
        "quotes": [1, "single"],
        "no-underscore-dangle": [0],
        "no-unused-vars": 2,
        "no-use-before-define": 2,
        "space-after-keywords": 1
    }
}
